<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="form-login">
        <%= link_to "Login", login_timetrack_path(current_user), :class => 'btn btn-default' %>
        <%= link_to "Logout", logout_timetrack_path(current_user), :class => 'btn btn-default' %>
      </div>
    </div>
    <div>
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <th>Date</th>
          <th>Login Time</th>
          <th>Logout Time</th>
          <th>Duration</th>
        </thead>
        <% current_user.timetracks.order(created_at: :desc).each do |timetrack| %>
          <tr>
          <td><%= timetrack.created_at %></td>
          <td><%= timetrack.login_time%></td>
          <td><%= timetrack.logout_time%></td>
          <td><%= total_duration(timetrack) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>