<!DOCTYPE html>
<html>
<head>
  <title>AttendanceSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--<p class="notice alert alert-danger"><%#= notice %></p>
  <p class="alert alert alert-danger"><%#= alert %></p>-->
  <%= render :partial => "shared/header"%>
  <div class="container">
	  <% flash.each do |name, msg| %>
	    <% if msg.is_a?(String) %>
	      <div class="alert alert-<%= flash_class_name(name) %>" role="alert">
	        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
	        <span class="sr-only">Close</span>
	        </button>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      </div>
	    <% end %>
	  <% end %>
	</div>
  <%= yield %>

</body>
</html>
